<!DOCTYPE html>
</html>
<head>
<link rel="stylesheet" href="css/nav.css">
<link rel="stylesheet" href="css/main.css">
<style type="text/css">
</style>
</head>
<body class="en">
<header>
	<big style="position: relative; margin-top: 0">
		<span lang="en">Notice for all users. Please read this before using the website.</span>
		<span lang="ro">Notă pentru toți utilizatorii. Vă rugăm să o citiți înainte de a folosi site-ul.</span>
	</big>
	<button type="submit" id="note-btn">
		<span lang="en">View</span>
		<span lang="ro">Vezi</span>
	</button>
</header>
<%- include('navbar'); %>
<script type="text/javascript" src="js/language.js"></script>
<script type="text/javascript">
window.onload = function() {
	const note_btn = document.querySelector("#note-btn")
	note_btn.addEventListener('click', function() {
		window.location.href = '/notice?lang=' + document.body.className
	})
}
</script>
</body>
</html>
