<nav>
	<div id="changeLangBtn" class="nav-container">
		<button id="displayed-lang" class="nav-btn">English</button>
		<div id="languages" hidden="true">
			<button data-lang="en" class="lang selected-lang">English</button>
			<button data-lang="ro" class="lang">Română</button>
		</div>
	</div> 
	<div id="private-game" class="nav-container">
		<button class="nav-btn">
		  <span lang="en">Private Game</span>
			<span lang="ro">Joc Privat</span>
		</button>
	</div>
	<div id="public-game" class="nav-container">
		<button class="nav-btn">
			<span lang="en">Public Game</span>
			<span lang="ro">Joc Public</span>
		</button>
	</div>
	<div id="rules" class="nav-container">
		<button class="nav-btn">
			<span lang="en">How to play</span>
			<span lang="ro">Cum se joaca</span>
		</button>
	</div>
	<div id="about" class="nav-container">
		<button class="nav-btn">
			<span lang="en">About</span>
			<span lang="ro">Despre</span>
		</button>
	</div>
</nav>