<nav>
	<div id="changeLangBtn" class="nav-container">
		<button id="displayed-lang" class="nav-btn">English</button>
		<div id="languages" hidden="true">
			<button data-lang="en" class="lang selected-lang">English</button>
			<button data-lang="ro" class="lang">Română</button>
		</div>
	</div> 
	<div class="nav-btn"></div>
</nav>