<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="css/nav.css">
<link rel="stylesheet" href="css/main.css">
</head>
<body class="<%= language; %>">
<%- include('navbar'); %>
<div class="expandable-note" style="background-color: #5cc7eb; border-color: #1267b4; font-size: 30px;">
	<span lang="en">
		Dear users, <br>
		This website is still being developed. Many features are experimental or disabled for now.
		We value quality user experience and the satisfaction of our players is all that we want, but, 
		we are a very small team comprised of 1 lead developer (see how small it is? Yet, I like to refer to myself as a "team")
		and we are getting no revenue out of this website. Besides, the site is hosted on Heroku, which offers "freemium" Node.js hosting that our site is build with. Of course, I can not afford paying for hosting, so I can only get as much as 500 hours of free hosting per month and a traffic speed limit of 60 requests/second. So I had to close the website every day from 11PM to 7AM EET (GMT+2:00). This is the European version of the website, so this time interval seemed reasonable.
		The American version will be available soon.
		<!--a href="https://us-airplanes-on-a-grid.herokuapp.com/">here</a-->
	</span>
	<span lang="ro">
		Dragi utilizatori, <br>
		Acest website este inca in dezvoltare. Multe dintre caracteristici sunt experimentale sau dezactivate pentru moment.
		Pretuim calitatea experientei ultilizatorilor si satisfactia jucatorilor este tot ce ne dorim, dar
		suntem o echipa foarte mica compusa dintr-un singur dezvoltator principal (vedeti cat de mica e? Si totusi, imi place sa vorbesc despre mine ca despre o "echipa") si nu primim niciun venit din acest website. Pe langa asta, site-ul este gazduit de Heroku, ce ofera gazduire "freemium" (gratuita, dar limitata) pentru Node.js ce este folosit in constructia site-ului.
		Desigur, nu imi permit sa platesc gazduirea, asa ca pot avea nu mai mult de 500 de ore de gazduire gratuita pe luna si o limita a vitezei de trafic de 60 de cereri/secunda. Asa ca, a trebuit sa inchid site-ul in fiecare zi de la 11PM la 7AM EET (GMT+2:00). Aceasta este versiunea europeana a website-ului si deci acest interval orar mi s-a parut rezonabil. Versiunea americana va fi disponibila curand.
		<!--a href="https://us-airplanes-on-a-grid.herokuapp.com/">here</a-->
	</span>
</div>
<div class="expandable-note" style="background-color: #ffb65c; border-color: #ff8c00; font-size: 30px;">
	<b>
		<span lang="en">TL;DR;</span>
		<span lang="ro">Pe scurt</span>
	</b> <br>
	<span lang="en">Due to the restrictions of the hosting platform, we had to close the site down from 11PM to 7AM EET (GMT+2:00)</span>
	<span lang="ro">Din cauza restrictiilor platformei gazda a site-ului, a trebuit sa inchidem site-ul de la 11PM la 7AM EET (GMT+2:00)</span>
</div>
<div class="expandable-note" style="background-color: #94f660; border-color: #13ef0b; font-size: 30px;">
	<span lang="en">Github</span>
</div>
<script type="text/javascript" src="js/language.js"></script>
</body>
</html>