<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="css/nav.css">
<link rel="stylesheet" href="css/main.css">
</head>
<body>
<%- include('navbar'); %>
<script type="text/javascript" src="js/language.js"></script>
</body>
</html>