.game-panel-container {
    position: relative;
    width: 50%;
    display: inline-block;
    padding-bottom: 50%;
}

.game-panel {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.game-messages {
    position: absolute;
    width: 80%;
    height: 80%;
    left: 2%;
    top: 2vh;
    bottom: 2vh;
    display: inline-block;
    pointer-events: none;
}

.game-messages > div.message {
    position: relative;
    text-align: center;
    margin-top: 50%;
    transform: translateY(-50%);
}

.game-svg {
    position: absolute;
    width: 80%;
    height: 80%;
	background-color: silver;
	left: 2%;
    top: 2vh;
	bottom: 2vh;
	display: inline-block;
}

.game-tools {
    position: absolute;
    width: 8%;
    height: 80%;
    top: 2vh;
    left: 82%;
    bottom: 2vh;
}

.g-tool {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 10%;
    text-align: center;
    font-weight: bolder;
    color: black;
    border: black solid 0.02em;
}

.gtools-group {
    position: relative;
    width: 100%;
    height: 20%;
    margin-bottom: 400%;
}
.gtools-group > .g-tool {
    height: 50%;
}

.g-tool>svg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.g-tool.A { background: linear-gradient(to bottom, #99ff99 2%, #12e912 50%, #10d110 50%, #11c911 88%, #11b411 100%); }
.g-tool.A:hover, .g-tool.A.active { background: linear-gradient(to bottom, #11b411 2%, #11c911 50%, #10d110 50%, #12e912 88%, #99ff99 100%); }

.g-tool.X { background: linear-gradient(to bottom, #ffad99 2%, #e83c11 50%, #d13610 50%, #ca3612 88%, #b63211 100%); }
.g-tool.X:hover, .g-tool.X.active { background: linear-gradient(to bottom, #b63211 2%, #ca3612 50%, #d13610 50%, #e83c11 88%, #ffad99 100%); }

.g-tool.R { background: linear-gradient(to bottom, #99c9ff 2%, #1176e8 50%, #106ad1 50%, #1268ca 88%, #115eb6 100%); }
.g-tool.R:hover, .g-tool.R.active { background: linear-gradient(to bottom, #115eb6 2%, #1268ca 50%, #106ad1 50%, #1176e8 88%, #99c9ff 100%); }

.g-tool.M { background: linear-gradient(to bottom, #fdff99 2%, #e5e811 50%, #dbdf11 50%, #c7ca12 88%, #b3b611 100%); }
.g-tool.M:hover, .g-tool.M.active { background: linear-gradient(to bottom, #b3b611 2%, #c7ca12 50%, #dbdf11 50%, #e5e811 88%, #fdff99 100%);  }

.g-tool.G { background: linear-gradient(to bottom, #ff99e6 2%, #e811b3 50%, #d110a0 50%, #ca129c 88%, #b6118d 100%); }
.g-tool.G:hover, .g-tool.G.active { background: linear-gradient(to bottom, #b6118d 2%, #ca129c 50%, #d110a0 50%, #e811b3 88%, #ff99e6 100%); }

.g-tool.H:not(.visible) { border: none; }
.g-tool.H.visible { background: linear-gradient(to bottom, #c038ff 2%, #650b8e 50%, #540977 50%, #500a71 88%, #43095d 100%); }
.g-tool.H.visible:hover { 
    background: linear-gradient(to bottom, #43095d  2%, #500a71 50%, #540977 50%, #650b8e 88%, #c038ff 100%);
}
.g-tool.ok {
    position: absolute;
    bottom: 0;
    visibility: hidden;
}
.g-tool.ok.active {
    background: linear-gradient(to bottom, #ee99ff 2%, #c511e8 50%, #b110d1 50%, #ab12ca 88%, #9a11b6 100%);
    visibility: visible;
}
.g-tool.ok:hover {
    background: linear-gradient(to bottom, #9a11b6 2%, #ab12ca 50%, #b110d1 50%, #c511e8 88%, #ee99ff 100%);
    visibility: visible;
}

.blue-btn { fill: url('#blue'); } .blue-btn:hover { fill: url('#blue-hover'); }
.green-btn { fill: url('#green'); } .green-btn:hover { fill: url('#green-hover'); }
.gold-btn { fill: url('#gold'); } .gold-btn:hover { fill: url('#gold-hover'); }