body:not(.en) :lang(en),
body:not(.ro) :lang(ro) {
	display: none;
}
body { margin: 0; height: 200vh; background-color: rgb(241, 241, 241); max-width: 100%; }
header {
	position: relative;
	margin: 0px;
	width: 100%;
	height: 50px;
	background: linear-gradient(to bottom right, blue, cyan);
	line-height: 50px;
	text-align: center;
}
#note-btn {
	position: relative;
	width: 75px;
	height: 30px;
	float: right;
	margin-right: 10px;
	top: 10px;
	background: linear-gradient(to bottom right, #008aee, mediumturquoise);
	border: #3460e2 solid 1.5px;
	border-radius: 12px;
}
.expandable-note {
	position: relative;
	width: 95%;
	height: auto;
	margin: 5px auto;
	border: solid 3px;
	border-radius: 12px;
	padding: 10px;
	z-index: 1;
}
.underlined {
	text-decoration: underline rgb(128, 223, 32) dashed;
}
a {
	color: rgb(115, 221, 54);
	text-decoration-color: rgb(115, 221, 54);
}
.middle-message {
	font-size: 2em;
	margin: 0 8px 0 8px;
	text-align: center;
	height: 93.33vh;
	line-height: 93.33vh;
}
.middle-message > span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}
.game-panel {
	width: 40%;
	background-color: silver;
	margin-left: 2%;
	margin-right: 5%;
	margin-top: 2vh;
	margin-bottom: 2vh;
	display: inline-block;
}

button {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}